.rr{
  background-color: pink;
}

.kkr{
  background-color: purple;
}

.lsg{
  background-color: aquamarine;
}

.csk{
  background-color: yellow;
}

.srh{
  background-color: orangered;
}

.pbks{
  background-color: darkred;
}

.gt{
  background-color: navy;
  color: white;
}

.mi{
  background-color: blue;
  color: white;
}

.rcb{
  background-color: red;
}

.dc{
  background-color: dodgerblue;
}

.one{
    text-align: center;
}